.idea
**/cypress/screenshots
**/cypress/videos
**/.aws
**/.ssh
**/application.tgz
**/node_modules
**/.DS_Store
**/*.pem
**/*.key
**/.npmrc
**/.profile
**/*.zip
build
dist
yarn-error.log
coverage
*.rdb
*.env
temp_sw.js
**/test-results
e2e/test-results